@import "tailwindcss";

@font-face {
  font-family: 'fkscreamer';
  src: url(..//FKScreamerTrial-Black-BF65713309d368f.otf);
}

@font-face {
  font-family: 'grotesk';
  src: url(..//hk-grotesk.regular.otf);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :root {
    --textNlead: 190px;

    --color1: #F1EADA;
  }

}

html,
body {
  height: auto;
  overflow: auto;
}

.history span {
  /* border: 1px solid; */
  display: inline-block;
  font-size: var(--textNlead);
  line-height: var(--textNlead);
  margin-right: 24px;
  /* text-wrap: nowrap; */
}

.cursor-wide {
  position: relative;
  cursor: default;
}

.cursor-overlay {
  width: 100%;
  height: 100%;
  background-color: #00000000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}